
{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card-img-top mb-3"></div>
            <h2>Le Méditerranée</h2>
            <p class="lead">Upscale Mediterranean restaurant with sea view</p>
            <div class="restaurant-info">
                <span><i class="fas fa-utensils"></i> Mediterranean Cuisine</span>
                <span><i class="fas fa-dollar-sign"></i> Upscale</span>
                <span><i class="fas fa-clock"></i> 12:00 - 23:00</span>
                <span><i class="fas fa-star"></i> 4.7/5</span>
            </div>
            
            <div class="menu-categories mt-4">
                <h4>Menu</h4>
                <div class="menu-category">
                    <h6>Starters</h6>
                    <ul class="list-unstyled">
                        <li>Mediterranean Mezze Platter <span class="price">25 TND</span></li>
                        <li>Fresh Seafood Soup <span class="price">18 TND</span></li>
                        <li>Grilled Calamari <span class="price">22 TND</span></li>
                    </ul>
                </div>
                
                <div class="menu-category">
                    <h6>Main Courses</h6>
                    <ul class="list-unstyled">
                        <li>Grilled Sea Bass <span class="price">45 TND</span></li>
                        <li>Lamb Couscous <span class="price">38 TND</span></li>
                        <li>Seafood Paella <span class="price">42 TND</span></li>
                    </ul>
                </div>
                
                <div class="menu-category">
                    <h6>Desserts</h6>
                    <ul class="list-unstyled">
                        <li>Baklava Selection <span class="price">15 TND</span></li>
                        <li>Date Cake <span class="price">12 TND</span></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <img src="/static/images/menu1.jpg" alt="Restaurant Menu" class="img-fluid rounded mb-3">
            <div class="card">
                <div class="card-body">
                    <h5>Location & Contact</h5>
                    <p><i class="fas fa-map-marker-alt"></i> 500m from Sousse Pearl Hotel</p>
                    <p><i class="fas fa-phone"></i> +216 73 123 456</p>
                    <p><i class="fas fa-envelope"></i> info@lemediterranee.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
